@using Glass.Mapper.Sc.Fields
@model Ignition.Sc.Components.About.AboutPeopleTileViewModel

<div class="col-md-4 col-sm-6">
    <div class="team-member">
        <!-- Team Member Photo -->
        <div class="team-member-image">
            @Html.Glass().RenderImage(Model, a => a.Image.Image, null, true)
        </div>
        <div class="team-member-info">
            <ul>
                <!-- Team Member Info & Social Links -->
                <li class="team-member-name">
                    @Html.Glass().Editable(a => a.Heading.Heading)
                    <!-- Team Member Social Links -->
                    <span class="team-member-social">
                        @if (Html.Glass().IsInEditingMode)
                        {
                            using (Html.Glass().BeginEditFrame(Model.EditFrameItem, "Edit the Grid Links", a => a.PrimaryLink, a => a.SecondaryLink, a => a.TertiaryLink))
                            {
                                <i class="icon-facebook"></i>
                                <i class="icon-github"></i>
                                <i class="icon-tumblr"></i>
                            }
                        }
                        else
                        {
                            <a href="@Model.FacebookLink.PrimaryLink.Url"><i class="icon-facebook"></i></a>
                            <a href="@Model.GitHubLink.SecondaryLink.Url"><i class="icon-github"></i></a>
                            <a href="@Model.TumblrLink.TertiaryLink.Url"><i class="icon-tumblr"></i></a>
                        }
                    </span>
                </li>
                <li>@Html.Glass().Editable(a => a.Subtitle.Subtitle)</li>
            </ul>
        </div>
    </div>
</div>