@using Ignition.Core.Models.System
@using Ignition.Sc
@using Ignition.Sc.Components.Content
@model Ignition.Core.Mvc.BaseViewModel
@{
	var content = Html.Glass().SitecoreContext.GetItem<IFolder>("{9D2DD8A5-29F2-4BDC-87D5-B0E70F64C1A2}");
	var left = content.BaseChildren.Where(a => a.Name == "FooterLeft").Cast<IContentBlock>();
	var middle = content.BaseChildren.Where(a => a.Name == "FooterMiddle").Cast<IContentBlock>();
	var right = content.BaseChildren.Where(a => a.Name == "FooterRight").Cast<IContentBlock>();
}
<!-- Footer -->
<div class="footer">
	<div class="container">

		<div class="row">


			@Html.Sitecore().Rendering("{6F69AB8F-3DFB-4E9A-9AD5-DF7A732D707D}", left)
			@Html.Sitecore().Rendering("{6F69AB8F-3DFB-4E9A-9AD5-DF7A732D707D}", middle)
			@Html.Sitecore().Rendering("{6F69AB8F-3DFB-4E9A-9AD5-DF7A732D707D}", right)
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="footer-copyright">Design &copy; 2014 <a href="http://www.vactualart.com/portfolio-item/basica-a-free-html5-template/">Basica</a> Bootstrap HTML Template. By <a href="http://www.vactualart.com">Vactual Art</a>.<br/>
					Site Build &copy; 2016 <a href="http://www.github.com/SitecoreIgnition/SitecoteIgnition">Sitecore Ignition</a> Demo Site licensed under MIT by <a href="http://www.perficient.com">Sitecore Ignition</a>.
				</div>
			</div>
		</div>
	</div>
</div>
@Html.RenderResources(ResourceType.Js)
@Html.Sitecore().Placeholder(IgnitionConstants.Placeholders.Layout.LayoutFooterScript)
